@{
    ViewData["Title"] = "Promotions List";
}
<link href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.4/css/buttons.dataTables.css">
<style>

    table.dataTable {
        table-layout: fixed;
        word-wrap: break-word;
        width: 100% !important;
    }

    .all-cars-table th, .all-cars-table td {
        white-space: normal !important;
        vertical-align: middle;
    }

    /* Align DataTable controls */
    div.dataTables_wrapper div.dataTables_length {
        float: left;
        padding-left: 15px;
    }

    div.dataTables_wrapper div.dataTables_filter {
        float: right;
        padding-right: 15px;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-left: 0px;
        border: none !important;
    }

    table.dataTable thead th, table.dataTable tfoot th {
        font-weight: bold;
        font-size: 12px;
    }

    table.dataTable tbody td {
        font-size: 12px;
    }

    .dt-paging .dt-paging-button {
        color: var(--theme-deafult) !important;
    }
</style>
<!-- Container-fluid starts-->
<div class="container-fluid">
    @if (!string.IsNullOrEmpty(Convert.ToString(TempData["couponCodeSuccessMessage"])))
    {
        <div id="couponCodeAlertMessage" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            @Convert.ToString(TempData["couponCodeSuccessMessage"])
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-header--2">
                    <div>
                        <h5>All Driver Vehicles</h5>
                    </div>
                    <form class="d-inline-flex">
                        <div class="d-flex gap-2">
                            <a asp-controller="CouponCode" asp-action="Create" class="btn btn-theme">
                                <i data-feather="plus-square"></i>Add New
                            </a>
                        </div>
                    </form>
                </div>

                <div class="card-body">
                    <div>
                        <div class="table-desi">
                            @Html.AntiForgeryToken()
                            <table class="all-cars-table table table-striped w-100" id="tblCouponCode">
                                <thead>
                                    <tr>
                                        <th>Couponcode</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>MinRange</th>
                                        <th>MaxRange</th>
                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="vehicledriver-pagination" class="pagination-controls"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid ends-->
<!-- Container-fluid Ends-->
@section Scripts {
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
    <!-- DataTables Buttons extension -->
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <!-- JSZip for Excel export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <!-- pdfmake for PDF export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.4/js/buttons.print.min.js"></script>
    <script type="text/javascript">
        //Hide promotion successs message
        const HidePromotionMessageLabel = () =>
        {
            //Hide the success message
            setTimeout(() =>
            {
                $('#couponCodeAlertMessage').hide();
            },3000);
        }
        //Delere promotion post event handeler
        const DeleteCouponCode = (promotionId) => {
            try {
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/")' + "CouponCode/Delete",
                    data: { id: promotionId },
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (req, status, error) {
                        console.error(error);
                    }
                });
            } catch (ex) {
                console.error("Exception occurred:", ex);
            }
        };

        //Data table 
        var couponCodeListVM = {
            CouponCodedt: null,
            init: function () {
                try {
                    const token = $('input[name="__RequestVerificationToken"]').val();
                    this.CouponCodedt = $('#tblCouponCode').DataTable({
                        processing: true,
                        //dom: 'Bfrtip',
                        serverSide: true,
                        stateSave: true,
                        lengthMenu: [10, 25, 50, { label: 'All', value: -1 }],
                        layout: {
                            topStart: {
                                // buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                                buttons: [
                                    {
                                        extend: 'collection',
                                        text: 'Export All',
                                        buttons: [
                                            {
                                                extend: 'excel',
                                                text: 'Excel (Server)',
                                                action: function (e, dt, node, config) {
                                                    setTimeout(function () {
                                                        $(node).removeClass('processing');
                                                    }, 500);
                                                    window.location = '@Url.Action("ExporToExcelAll", "CouponCode")';
                                                }
                                            },
                                            'copy',
                                            {
                                                extend: 'csv',
                                                text: 'CSV (Server)',
                                                action: function (e, dt, node, config) {
                                                    setTimeout(function () {
                                                        $(node).removeClass('processing');
                                                    }, 500);
                                                    window.location = '@Url.Action("ExporToCsvAll", "CouponCode")';
                                                }
                                            },
                                            //'csv',
                                            'pdf',
                                            'print'
                                        ]
                                    }
                                ]
                            },
                            bottomEnd: {
                                paging: {
                                    type: 'simple'
                                }
                            }
                        },

                        ajax: {
                            url: '@Url.Action("LoadData", "CouponCode")',
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            data: function (d) {
                                return JSON.stringify(d); // Send as JSON string
                            },
                            headers: {
                                'RequestVerificationToken': token
                            },
                            error: function (xhr, error, thrown) {
                                console.error("DataTable error: ", xhr.responseText);
                            }
                        },
                        // layout: {
                        //     bottomStart: {
                        //                info: {
                        //                    empty: 'No entries to show'
                        //                }
                        //            }
                        // },
                        columns: [
                            { data: 'code', autoWidth: true },
                            { data: 'validityFrom', autoWidth: true },
                            { data: 'validityTo', autoWidth: true },
                            { data: 'priceRangeMin', autoWidth: true },
                            { data: 'priceRangeMax', autoWidth: true },
                            {
                                data: 'couponCodeId',
                                render: function (data, type, row) {
                                    return `
                                        <form method="post" action="/CouponCode/Details" style="display:inline;">
                                            <input type="hidden" name="id" value="${data}" />
                                            <button type="submit" class="btn btn-link p-0" title="View" style="border: none; background: none;">
                                                <i class="fa fa-eye" aria-hidden="true" style="color: #747dc6;"></i>
                                            </button>
                                        </form>`;
                                }
                            },
                            {
                                data: 'couponCodeId',
                                render: function (data, type, row) {
                                    return `
                                        <form method="post" action="/CouponCode/Edit" style="display:inline;">
                                            <input type="hidden" name="id" value="${data}" />
                                            <button type="submit" class="btn btn-link p-0" title="Edit" style="border: none; background: none;">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: #4aa4d9"></i>
                                            </button>
                                        </form>`;
                                }
                            },
                            {
                                data: 'couponCodeId',
                                render: function (data, type, row) {
                                    return `<a class="delete-promotion" href="javascript:void(0);" data-id="${data}">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>`;
                                    //return `<a onclick=DeleteData(${data})><i class="fa fa-trash-o"aria-hidden="true"></i></a>`
                                }
                            }
                        ],
                        language: {
                            emptyTable: "No entries to show"
                        }
                    });
                } catch (ex) {
                    console.error("Exception in DataTable init:", ex);
                }
            },
            refresh: function () {
                try {
                    if (this.CouponCodedt) {
                        this.CouponCodedt.ajax.reload();
                    }
                } catch (ex) {
                    console.error("Exception in DataTable refresh:", ex);
                }
            }
        };

        //Document ready
        $(() => 
        {
            //Bind couponcode list to data table
             couponCodeListVM.init();

             //Hide promotion successs message
             HidePromotionMessageLabel();
        });
    </script>
}
